.detail-quiz-container {
  display: flex;
  gap: 20px;
  padding: 50px;
  .left-content {
    width: 70%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    .title {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .q-content {
      text-align: center;
      .question {
        font-size: 20px;
        font-weight: 600;
        padding: 20px;
      }
    }
    .q-image {
      text-align: center;
      width: 100%;
      height: 100px;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .answer {
      .a-child {
        text-align: left;
        padding-left: 50px;
      }
    }
    .footer {
      margin-top: 20px;
      display: flex;
      gap: 15px;
      justify-content: center;
    }
  }

  .right-content {
    width: 30%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    .main-timer {
      border-bottom: 1px dashed;
      padding-bottom: 25px;
      text-align: center;
      font-weight: 600;
      padding-top: 10px;
      font-size: 20px;
    }
    .main-question {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      .question {
        border: 1px solid rgb(171, 154, 154);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          color: green($color: #000000);
          border: 1px solid green;
        }
        &.selected {
          background-color: red;
          color: white;
          border: 1px solid red;
        }
        &.clicked {
          background-color: green;
          color: white;
          border: 1px solid green;
        }
      }
    }
  }
}
