.admin-container {
  display: flex;
  .admin-sidebar {
    .pro-sidebar {
      height: 100vh !important;
    }
  }
  .admin-content {
    width: 100%;
    .admin-header {
      display: flex;
      justify-content: space-between;
      height: 60px;
      padding: 10px 20px;
      align-items: center;
      border-bottom: 1px solid #d0cdcd;
      .left-side {
        cursor: pointer;
        font-size: 20px;
        color: rgb(38, 214, 241);
      }
      .right-side {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
    .admin-main {
      height: calc(100vh - 40px);
    }
  }
}
