.question-container {
  padding: 15px;

  .title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
  }

  .question-content {
    gap: 25px;
    align-items: center;
    .description {
      width: 50%;
    }
    .group-upload {
      .icon-upload {
        font-size: 35px;
        cursor: pointer;
        color: rgb(157, 80, 154);
        margin-right: 15px;
      }
      &:hover {
        .icon-upload {
          color: rgb(221, 16, 214);
        }
      }
    }

    .btn-add {
      .icon-add {
        font-size: 34px;
        cursor: pointer;
        color: green;
      }
      .icon-remove {
        margin-left: 10px;
        font-size: 30px;
        cursor: pointer;
        color: red;
      }
    }
  }

  .answers-content {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;
    .iscorrect {
      font-size: 20px;
    }

    .answer-name {
      width: 55%;
    }

    .btn-group {
      .icon-add {
        font-size: 34px;
        cursor: pointer;
        color: green;
      }
      .icon-remove {
        margin-left: 10px;
        font-size: 30px;
        cursor: pointer;
        color: red;
      }
    }
  }
}
